<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="sys.qx.dao.C03WuXiaoUserDaoMapper" >


	<resultMap  id="c03WuXiaoUserBean"  type="sys.qx.model.C03WuXiaoUser"> 
	
			<id property="id" column="id"/>
			<!-- 原因 -->
			<result column="cause" property="cause" jdbcType="VARCHAR" />
	   		<!-- 所属区域   -->
			<result column="area" property="area" jdbcType="VARCHAR" />
			<!-- 区域总裁 -->
			<result column="areaPresident" property="areaPresident" jdbcType="VARCHAR" />
		  	<!-- 楼盘 -->
			<result column="building" property="building" jdbcType="VARCHAR" />
			<!-- 付款方式 -->
			<result column="paymentMethod" property="paymentMethod" jdbcType="VARCHAR" />
			<!-- 房间编号 -->
			<result column="theRoomNumber" property="theRoomNumber" jdbcType="VARCHAR" />
			<!-- 苑区	 -->
			<result column="park" property="park" jdbcType="VARCHAR" />
			<!-- 路址  -->
			<result column="url" property="url" jdbcType="VARCHAR" />
			<!-- 业主名称 -->
			<result column="ownerName" property="ownerName" jdbcType="VARCHAR" />
			<!-- 认购价 -->
			<result column="subscriptionPrice" property="subscriptionPrice" jdbcType="VARCHAR" />
			<!-- 应交款项 -->
			<result column="fund" property="fund" jdbcType="VARCHAR" />
			<!-- 推售日期 -->
			<result column="sellingDate" property="sellingDate" jdbcType="VARCHAR" />
			<!-- 预售证日期 -->
			<result column="prePinDate" property="prePinDate" jdbcType="VARCHAR" />
			<!-- 竣工备案日期 -->
			<result column="closeoutDate" property="closeoutDate" jdbcType="VARCHAR" />
			<!-- 应交日期   -->
			<result column="deliveryDate" property="deliveryDate" jdbcType="VARCHAR" />
			<!-- 到期应交金额  --> 
			<result column="deliveryOughtToMathod" property="deliveryOughtToMathod" jdbcType="VARCHAR" />
			<!-- 到期已交金额   -->
			<result column="deliveryYetMathod" property="deliveryYetMathod" jdbcType="VARCHAR" />
			<!-- 到期欠交金额   -->
			<result column="deliveryDebtMathod" property="deliveryDebtMathod" jdbcType="DOUBLE" />
			<!-- 未到期应交金额 -->  
			<result column="noDeliveryOughtToMathod" property="noDeliveryOughtToMathod" jdbcType="VARCHAR" />
			<!-- 未到期已交金额   -->
			<result column="noDeliveryYetMathod" property="noDeliveryYetMathod" jdbcType="VARCHAR" />
			<!-- 未到期欠交金额   -->
			<result column="noDeliveryDebtMathod" property="noDeliveryDebtMathod" jdbcType="DOUBLE" />
			<!-- 认购日期   -->
			<result column="subscribeDate" property="subscribeDate" jdbcType="VARCHAR" />
			<!-- 签约日期   -->
			<result column="signedDate" property="signedDate" jdbcType="VARCHAR" />
			<!-- 按揭银行   -->
			<result column="bank" property="bank" jdbcType="VARCHAR" />
			<!-- 房间类型   -->
			<result column="roomType" property="roomType" jdbcType="VARCHAR" />
			<!-- 合同收楼日期   -->
			<result column="repossessionDate" property="repossessionDate" jdbcType="VARCHAR" />
			<!-- 收楼通知书日期   -->
			<result column="informDate" property="informDate" jdbcType="VARCHAR" />
			<!-- 装修情况   -->
			<result column="decoration" property="decoration" jdbcType="VARCHAR" />
			<!-- 跟办人   -->
			<result column="assistParent" property="assistParent" jdbcType="VARCHAR" />
			<!-- 客户联系电话   -->
			<result column="clientPhone" property="clientPhone" jdbcType="VARCHAR" />
			<!-- 公积金   -->
			<result column="reservedFunds" property="reservedFunds" jdbcType="VARCHAR" />
			<!-- 合同路址   -->
			<result column="contractaddress" property="contractaddress" jdbcType="VARCHAR" />
			<!-- 已交金额   -->
			<result column="paidMathod" property="paidMathod" jdbcType="VARCHAR" />
			<!-- 已交日期   -->
			<result column="yjDate" property="yjDate" jdbcType="VARCHAR" />
			<!-- 结算价   -->
			<result column="callPrice" property="callPrice" jdbcType="VARCHAR" />
			<!-- 到期0-30天欠交   -->
			<result column="under30" property="under30" jdbcType="VARCHAR" />
			<!-- 到期31-90天欠交   -->
			<result column="under30To90" property="under30To90" jdbcType="VARCHAR" />
			<!-- 到期91-180天欠交   -->
			<result column="under91To180" property="under91To180" jdbcType="VARCHAR" />
			<!-- 到期181 270天欠交  -->
			<result column="under181To270" property="under181To270" jdbcType="VARCHAR" />
			<!-- 到期271 360天欠交  -->
			<result column="under271To360" property="under271To360" jdbcType="VARCHAR" />
			<!-- 到期361天以上欠交  -->
			<result column="under361Up" property="under361Up" jdbcType="VARCHAR" />
			<!-- 预售建筑面积   -->
			<result column="prePinArea" property="prePinArea" jdbcType="VARCHAR" />
			<!-- 实测建筑面积   -->
			<result column="realityArea" property="realityArea" jdbcType="VARCHAR" />
			<!-- 合同建筑面积   -->
			<result column="contractArea" property="contractArea" jdbcType="VARCHAR" />
			<!-- 客户联系地址   -->
			<result column="clientAddress" property="clientAddress" jdbcType="VARCHAR" />
			<!-- 预计竣工日期   -->
			<result column="finishDate" property="finishDate" jdbcType="VARCHAR" />
			<!-- 草签日期   -->
			<result column="cqDate" property="cqDate" jdbcType="VARCHAR" />
			<!-- 欠款原因   -->
			<result column="debtCause" property="debtCause" jdbcType="VARCHAR" />
			<!-- 是否低首付   -->
			<result column="lowPayment" property="lowPayment" jdbcType="VARCHAR" />
			<!-- 低首付类型   -->
			<result column="lowPaymentType" property="lowPaymentType" jdbcType="VARCHAR" />
			<!-- 低首付金额   -->
			<result column="lowPaymentMathod" property="lowPaymentMathod" jdbcType="VARCHAR" />
			<!-- 签约状态   -->
			<result column="signedStart" property="signedStart" jdbcType="VARCHAR" />
			<!--利润中心   -->
			<result column="profitCentre" property="profitCentre" jdbcType="VARCHAR" />
			<!-- 总钱数   -->
			<result column="allzongqianshu" property="allzongqianshu" jdbcType="DOUBLE" />
	   		<!-- 导入时间   -->
	   		<result column="importdate" property="importdate" jdbcType="VARCHAR" />
	   		<!-- 标识  -->
	   		<result column="authority" property="authority" jdbcType="INTEGER" />
	</resultMap>
	
	
	<!--批量增加-->
	 <insert id="putOneAndAllC03NoUserData" parameterType="list">
	    insert into `c03wuxiaouser`
	    	(  
	    	cause,
	    	area,
			areaPresident,
			building,
			paymentMethod,
			theRoomNumber,
			park,
			url,
			ownerName,
			subscriptionPrice,
			fund,
			sellingDate,
			prePinDate,
			closeoutDate,
			deliveryDate,
			deliveryOughtToMathod,
			deliveryYetMathod,	
			deliveryDebtMathod,
			noDeliveryOughtToMathod,
			noDeliveryYetMathod,
			noDeliveryDebtMathod,
			subscribeDate,
			signedDate,
			bank,
			roomType,
			repossessionDate,
			informDate,
			decoration,
			assistParent,
			clientPhone,
			reservedFunds,
			contractaddress,
			paidMathod,
			yjDate,
			callPrice,
			under30,
			under30To90,
			under91To180,
			under181To270,
			under271To360,
			under361Up,
			prePinArea,
			realityArea,
			contractArea,
			clientAddress,
			finishDate,
			cqDate,
			debtCause,
			lowPayment,
			lowPaymentType,
			lowPaymentMathod,
			signedStart,
			profitCentre,
			allzongqianshu,
			importdate,
			authority 
			)
	     values
	    <foreach collection="list" item="item" separator=",">
	        (  
	        #{item.cause},
			#{item.area}, 
			#{item.areaPresident},
			#{item.building},
			#{item.paymentMethod},
			#{item.theRoomNumber},
			#{item.park},
			#{item.url},
			#{item.ownerName},
			#{item.subscriptionPrice},
			#{item.fund},
			#{item.sellingDate},
			#{item.prePinDate},
			#{item.closeoutDate},
			#{item.deliveryDate},
			#{item.deliveryOughtToMathod},
			#{item.deliveryYetMathod},
			#{item.deliveryDebtMathod},
			#{item.noDeliveryOughtToMathod},
			#{item.noDeliveryYetMathod},
			#{item.noDeliveryDebtMathod},
			#{item.subscribeDate},
			#{item.signedDate},
			#{item.bank},
			#{item.roomType},
			#{item.repossessionDate},
			#{item.informDate},
			#{item.decoration},
			#{item.assistParent},
			#{item.clientPhone},
			#{item.reservedFunds},
			#{item.contractaddress},
			#{item.paidMathod},
			#{item.yjDate},
			#{item.callPrice},
			#{item.under30},
			#{item.under30To90},
			#{item.under91To180},
			#{item.under181To270},
			#{item.under271To360},
			#{item.under361Up},
			#{item.prePinArea},
			#{item.realityArea},
			#{item.contractArea},
			#{item.clientAddress},
			#{item.finishDate},
			#{item.cqDate},
			#{item.debtCause},
			#{item.lowPayment},
			#{item.lowPaymentType},
			#{item.lowPaymentMathod},
			#{item.signedStart},
			#{item.profitCentre},
			#{item.allzongqianshu},
			#{item.importdate},
			#{item.authority} 
	        )
	    </foreach>
	</insert>
	
	
	      <!-- 根据id删除一条记录-->
       <insert id="putNoUserData" parameterType="int">
       
       <!-- insert into lackofdetail(allzongqianshu)  values (123.0) ; -->
          delete from c03WuXiaoUser  where id=#{id};
      </insert>  
	
	
	<select id="getAllUser"   parameterType="int"  resultMap ="c03WuXiaoUserBean" >
		select  *  from  c03wuxiaouser where authority=#{id};
	 
	</select>
	
	
	
	<select id="getDateUser" parameterType="sys.qx.model.UtilDate" resultMap = "c03WuXiaoUserBean">
		<!-- Select  * from (Select * from hkbufen where lurudate>=#{srartDate}  Union Select * from hksuoyou where lurudate >=#{stropDate})  tab; -->
		<!-- Select  * from  c03wuxiaouser where importdate >'2019-04-19' and  importdate <='2019-04-22'; -->
		Select  * from  c03wuxiaouser where importdate &gt;= #{srartDate} and  importdate &lt;= #{stropDate} and authority=#{id};
	</select> 
	
	
	
	<delete id="deleteBSUser" parameterType="java.lang.Integer">
        	delete from c03wuxiaouser  where authority = #{biaoShi};
      </delete>
	
	
	
	
</mapper>